

/* Color Stype for section - Mayank */
section.wrapper.colorstyle, article.wrapper.colorstyle {
    background: #ff308e;
    color: #ffffff;
}
section.wrapper.colorstyle header h2, article.wrapper.colorstyle header h2 {
  color: #fff;
}
section.wrapper.colorstyle header p, article.wrapper.colorstyle header p {
  color: #ffffff;
}
section.wrapper.colorstyle h4, article.wrapper.colorstyle h4 {
  color: #FFF;
}
section.wrapper.colorstyle h3, article.wrapper.colorstyle h3 {
  color: #FFF;
}

/* simpleFooter */
#simpleFooter {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  padding: 8rem 0 6rem 0 ;
}
#simpleFooter .inner {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid #dbdbdb;
	padding-top: 3em;
}
#simpleFooter .copyright {
  border-top: 1px solid;
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 2rem 0;
  text-align: center;
}

@media screen and (max-width: 736px) {
	#simpleFooter .inner {
		padding-top: 2em;
	}
	#simpleFooter .copyright {
		-ms-flex-order: 2;
		-moz-order: 2;
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
	}
	#simpleFooter ul {
		-ms-flex-order: 1;
		-moz-order: 1;
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
	#simpleFooter .flex {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
}
